<!DOCTYPE html>
<html>
<head>
  <title>Renan Chun</title>
  <meta charset="utf-8">
  <meta name="description" content="Renan Chun personal page. Make yourself at home. Linkedin, Gitlab profiles.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="Renan,Renan Chun, Renan Silva Chun, Rechun">
  <meta name="author" content="renanChun">

  <link rel="icon" href="/assets/favicon-32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/assets/favicon-48.png" sizes="48x48" type="image/png">
  <link rel="icon" href="/assets/favicon-62.png" sizes="62x62" type="image/png">
  <link rel="icon" href="/assets/favicon-192.png" sizes="192x192" type="image/png">

  <!-- AnimeJS -->
  <script async src="/vendor/anime.min.js"></script>
  <!-- FontAwesome -->
  <script async src="/vendor/fa-all.min.js"></script>
  <!-- Bootstrap -->
  <link href="/vendor/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

  <!-- Cookies -->
  <script src="/vendor/js.cookie-2.2.1.min.js"></script>

  <!-- Vue -->
  <script src="/vendor/vue.min.js"></script>
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  
  <!-- Animate CSS -->
  <link rel="stylesheet" href="/vendor/animate.css"/>
</head>

<body class="background-black">
  <div id="mainpage" class="container">

    <div class="px-4 py-4 clearfix">
      <div v-on:click="changeBackground()" class="lightbulb float-left is-clickable animated fadeIn p-2">
        <div>
          <i class="far fa-lightbulb fa-fw fa-2x"></i>
        </div>
      </div>
      <div v-on:click="changeLocale()" class="float-right is-clickable animated fadeIn p-2">
        <div>
          <img v-for="ilocale of availableLocales" v-if="selectedLocale === ilocale" v-bind:src="locale[ilocale].flag" class="mx-auto d-block flag" unselectable="on">
        </div>
      </div>
    </div>

    <div class="my-4 text-center">
      <div v-if="!$data" class="lds-circle"></div>
      <div class="me-size animated fadeIn">
        <img src="/assets/me.jpg" class="mx-auto d-block" v-bind:class="lights ? 'me-white' : 'me-black'" unselectable="on" style="display:none;" alt="">
      </div>

      <div class="my-5 py-2 animated fadeIn">
        <h1 style="">Renan Chun</h1>
        <h6 class="mt-3">
          <a class="mx-2" href="mailto:renanchunsilva@hotmail.com" target="_blank">
            <i class="far fa-envelope fa-fw fa-lg"></i>
          </a>
          <a class="mx-2" href="https://www.linkedin.com/in/renanchun/" target="_blank">
            <i class="fab fa-linkedin-in fa-fw fa-lg"></i>
          </a>
          <a class="mx-2" href="https://gitlab.com/rechun" target="_blank">
            <i class="fab fa-gitlab fa-fw fa-lg"></i>
          </a>
        </h6>
      </div>
    </div>

    <badge-title v-bind:title="locale[selectedLocale].sections.personal.title" v-bind:subtitle="locale[selectedLocale].sections.personal.subtitle"></badge-title>

    <div class="badge-container">
      <badge image="/assets/bolsa.png" v-bind:content="locale[selectedLocale].sections.personal.bolsa"></badge>
      <badge image="/assets/pcmasterrace.png" v-bind:content="locale[selectedLocale].sections.personal.pcmasterrace"></badge>
      <badge image="/assets/lolLogo.png" v-bind:content="locale[selectedLocale].sections.personal.League"></badge>
      <badge image="/assets/boardGames.png" v-bind:content="locale[selectedLocale].sections.personal.boardGames"></badge>
      <badge image="/assets/talk.png" v-bind:content="locale[selectedLocale].sections.personal.talk"></badge>
      <badge image="/assets/sushi.png" v-bind:content="locale[selectedLocale].sections.personal.sushi"></badge>
    </div>

    <badge-title v-bind:title="locale[selectedLocale].sections.professional.title" v-bind:subtitle="locale[selectedLocale].sections.professional.subtitle"></badge-title>

    <div class="badge-container">
      <badge image="/assets/computer.png" v-bind:content="locale[selectedLocale].sections.professional.whoami"></badge>
      <badge image="/assets/js.png" v-bind:content="locale[selectedLocale].sections.professional.js"></badge>
      <badge image="/assets/python.png" v-bind:content="locale[selectedLocale].sections.professional.python"></badge>
      <badge image="/assets/r.png" v-bind:content="locale[selectedLocale].sections.professional.r"></badge>
      <badge image="/assets/c.png" v-bind:content="locale[selectedLocale].sections.professional.c"></badge>
      <badge image="/assets/sql.png" v-bind:content="locale[selectedLocale].sections.professional.sql"></badge>
    </div>

    <badge-title v-bind:title="locale[selectedLocale].sections.toolbelt.title" v-bind:subtitle="locale[selectedLocale].sections.toolbelt.subtitle"></badge-title>

    <div class="badge-container">
      <badge image="/assets/Dulocal.png" v-bind:content="locale[selectedLocale].sections.toolbelt.value"></badge>
      <badge image="/assets/euvo.png" v-bind:content="locale[selectedLocale].sections.toolbelt.euvo"></badge>
      <badge image="/assets/Mosty.png" v-bind:content="locale[selectedLocale].sections.toolbelt.mosty"></badge>
    </div>



    <div class="my-4 text-center">
      <div class="my-5 py-2 animated fadeInUp">
        <h6>Fork me on github!
          <a target="_blank" href="https://github.com/paulogdm/paulogdm.com" class="mx-2">
            <i class="fas fa-fw fa-code-branch"></i>
          </a>
        </h6>
      </div>
      <div style="color:gray">
      <small>Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a>, <a href="http://www.freepik.com" title="Freepik">Freepik</a> and <a href="https://github.com/paomediafrom">Paomedia</a> <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small>
      </div>
    </div>

  </div>
</body>

  <!-- my things, DONT TOUCH-->
  <link rel="stylesheet" type="text/css" href="/styles.css"/>
  <script src="/texts.js" type="text/javascript"></script>
  <script src="/scripts.js" type="text/javascript"></script>

</html>
